# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Environment variables
.env

# Windows system file
Thumbs.db

# macOS system file
.DS_Store